body{
    background-color:palegoldenrod;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}
.brown{
    background-color: wheat;
    text-decoration: chartreuse;
}

.orange{
    background-color:white;
}

.blue{
    background-color: whitesmoke;
}

.kenya{
    background-color:white;
}